.body {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.window {
    min-width: 25em;
    max-width: 35em;
    width: 100%;
}

/*---------------------------------------------------------------*/

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

.nav-bar li {
    display: inline;
}

.nav-bar-left {
    float: left;
}

.nav-bar-right {
    float: right;
}

.nav-bar-text {
    text-align: center;
    padding: 15px 15px;
    color: white;
}

.nav-bar-title {
    text-align: center;
    padding: 15px;
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: default;
    font-style: oblique;
}

.nav-bar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s;
}

.nav-bar-link:hover {
    background-color: #111;
}

.nav-bar-active {
    background-color: #AF4C50;
}

.nav-bar-active:hover {
    background-color: #AF4C50;
}

/*---------------------------------------------------------------*/

.tab-bar {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab-link {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    transition: 0.1s;
    width: 50%;
}

.tab-link:hover {
    background-color: #ddd;
}

.tab-link.active {
    background-color: #ccc;
}

.tab-window {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*---------------------------------------------------------------*/

.view-block {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.block-box {
    position: relative;
    border-radius: 5px;
    border: 2px solid #bbb;
    margin: 15px;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
}

.block-corner {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50px;
    background-color: #c24c57;
    color: white;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #bbb;
}

.block-bar {
    font-weight: bold;
    background-color: #bbb;
    padding: 15px;
}

.block-body {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
}

.block-image-wrapper {
    height: 100%;
    margin: auto 0px auto 15px;
}

.block-image {
    float: left;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #111;
}

.block-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-content {
    margin-left: 15px;
    margin-right: 15px;
    flex: 1;
}

.block-content h3 {
    margin-top: 0;
    margin-bottom: 1em;
}

.block-content-center {
    text-align: center;
}

/*---------------------------------------------------------------*/

.block-content-button {
    border: 1px solid #c24c57;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
    transition: 0.1s;
    width: 100%;
    margin-top: 15px;
}

.block-content-button:disabled {
    background-color: #ddd;
    cursor: default;
}

.block-content-button:hover {
    background-color: #ddd;
}

.block-option {
    height: auto;
}

.block-option-radio {
    display: none;
}

.block-option-label {
    font-weight: bold;
    display: block;
    border: 2px solid #c24c57;
    border-radius: 5px;
    color: #c24c57;
    transition: 0.5s;
    cursor: pointer;
    padding: 12px;
    margin: 15px 10px;
    text-align: center;
}

.block-option-radio:checked + .block-option-label {
    background-color: #c24c57;
    color: #ffffff;
}


.block-input {
    border-radius: 4px;
    border: 1px solid #dad7d7;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box
}

/*---------------------------------------------------------------*/

.progress-box {
    position: relative;
    border: 1px solid #333;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
}

.progress-border {
    position: relative;
    border: 1px solid #333;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    margin-top: 15px;
}

.progress-fill {
    height: 35px;
    line-height: 35px;
    background-color: #c2443d;
    text-align: center;
    vertical-align: middle;
    color: white;
    box-shadow: 0 0 12px 1px rgba(194, 68, 61, 1);
}


.progress-corner {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: large;
    font-weight: bold;
    border-radius: 50px;
    background-color: #35bf50;
    color: white;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #bbb;
}

.progress-text {
    text-align: center;
    margin: 5px;
}